<!DOCTYPE html>
<html, lang="en">
<head>
    <title>{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}</title>

    {{ partial "meta.html" . }}
    {{ partial "og.html" . }}

    {{- with .OutputFormats.Get "rss" -}}
    <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{- end }}
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ "webfonts/CharterBT/stylesheet.css" | absURL }}" rel='stylesheet' type='text/css'>
    <link href="{{ "webfonts/ptserif/main.css" | absURL }}" rel='stylesheet' type='text/css'>
    <link href="{{ "webfonts/source-code-pro/main.css" | absURL }}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    {{ range .Site.Params.customCss -}}
        <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    {{ hugo.Generator }}
</head>
